<div>
  <table *ngIf="data" [ngClass]="{'responsive-table': isMobile}">
    <thead>
      <tr>
        <th (click)="sortData('instrumentId')">Instrument ID</th>
        <th (click)="sortData('fundName')">Fund Name</th>
        <th (click)="sortData('rate')">Rate</th>
        <th (click)="sortData('change1m')">Change 1 month</th>
        <th (click)="sortData('change3m')">Change 3 months</th>
        <th (click)="sortData('change1y')">Change 1 year</th>
        <th (click)="sortData('change3y')">Change 3 years</th>
        <th (click)="sortData('estimationDate')">Est. Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of sortedData">
        <td>{{ item.instrumentId }}</td>
        <td>{{ item.fundName }}</td>
        <td>{{ item.rate }}</td>
        <td>{{ item.change1m }}</td>
        <td>{{ item.change3m }}</td>
        <td>{{ item.change1y }}</td>
        <td>{{ item.change3y }}</td>
        <td>{{ getFormattedDate(item.estimationDate) }}</td>
      </tr>
    </tbody>
  </table>
</div>
