<table *ngIf="data">
  <thead>
    <tr>
      <th>Instrument ID</th>
      <th>Fund Name</th>
      <th>Rate</th>
      <th>Change 1 month</th>
      <th>Change 3 months</th>
      <th>Change 3 years</th>
      <th>Est. Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data[0]?.data">
      <td>{{ item.instrumentId }}</td>
      <td>{{ item.fundName }}</td>
      <td>{{ item.rate }}</td>
      <td>{{ item.change1m }}</td>
      <td>{{ item.change3m }}</td>
      <td>{{ item.change3y }}</td>
      <td>{{ getFormattedDate(item.estimationDate) }}</td>
    </tr>
  </tbody>
</table>