<div class="topnav">
  <a href="#home">Home</a>
  <a href="#menu">Menu</a>
  <a href="#about">About</a>
  <a href="#contact">Contact</a>
  <div id="account">
    <a href="#account" id="account">Account ▸</a>
    <div class="dropdown">
        <a href="#register" id="popup">Register</a>
        <a href="#login" id="popup">Login</a>
    </div>
</div>
</div>
<div>
  <table *ngIf="data">
    <thead>
      <tr>
        <th (click)="sortData('instrumentId')"><span id="hide">Sort by&nbsp;</span>Instrument ID</th>
        <th (click)="sortData('fundName')"><span id="hide">Sort by&nbsp;</span>Fund Name</th>
        <th (click)="sortData('rate')"><span id="hide">Sort by&nbsp;</span>Rate</th>
        <th (click)="sortData('change1m')"><span id="hide">Sort by&nbsp;</span>Change 1 month</th>
        <th (click)="sortData('change3m')"><span id="hide">Sort by&nbsp;</span>Change 3 months</th>
        <th (click)="sortData('change1y')"><span id="hide">Sort by&nbsp;</span>Change 1 year</th>
        <th (click)="sortData('change3y')"><span id="hide">Sort by&nbsp;</span>Change 3 years</th>
        <th (click)="sortData('estimationDate')"><span id="hide">Sort by&nbsp;</span>Est. Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of sortedData">
        <td>{{ item.instrumentId }}</td>
        <td>{{ item.fundName }}</td>
        <td>{{ item.rate }}</td>
        <td>{{ item.change1m }}</td>
        <td>{{ item.change3m }}</td>
        <td>{{ item.change1y }}</td>
        <td>{{ item.change3y }}</td>
        <td>{{ getFormattedDate(item.estimationDate) }}</td>
      </tr>
    </tbody>
  </table>
</div>
